.error-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    color: red;
    font-size: x-large;
    padding: 10px;
    font-weight: bolder;
  }